.container{
    justify-content: center;
    height: 100px;
    margin: 0 8rem;
    display: flex;
}

.inner_content{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.nav_link_group{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.motion_nav_div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_link_group > a {
    font-size: 20px;
    font-weight: 400;
    padding: 1rem;
    margin: 1rem;
}

.nav_links_active{
    font-weight: 700 !important;
}

.linkedin_logo{
    cursor: pointer;
    padding: 1rem;
    margin: 1rem;
    color: var(--color-text)
}

.light_theme{
    display: flex;
    justify-content: center;
    cursor: pointer;
    transform: rotate(0);
    padding: 1rem;
    margin: 1rem;
    animation: animateToLight 0.5s;
    -webkit-tap-highlight-color: transparent;
}

.dark_theme{
    display: flex;
    justify-content: center;
    cursor: pointer;
    transform: rotate(180deg);
    padding: 1rem;
    margin: 1rem;
    animation: animateToDark 0.5s cubic-bezier(0.4, 0.0, 0.2, 1);
    -webkit-tap-highlight-color: transparent;
}

.sash_logo{
    cursor: pointer;
}

.mobile_hamburger_menu{
   display: none;
   flex-direction: column;
   cursor: pointer;
   height: 100%;
   justify-content: center;
    -webkit-tap-highlight-color: transparent;
}

.hamburger_line {
    background-color: var(--color-text);
    margin: 3px 0;
    height: 2px;
    width: 30px;
}

.nav_link_group_mobile{
    position: fixed;
    display: flex;
    top: 0;
    align-items: center;
    right: -100%;
    z-index: 10000;
    flex-direction: column;
    background-color: var(--color-background);
    height: 100vh;
    width: 250px;
    transition: 0.35s;
    border: 0.2px solid var(--color-text);
    -webkit-tap-highlight-color: transparent;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}


.nav_link_group_mobile > div {
    text-align: center;
    width: 100%;
    padding: 10px;
    margin: 1rem;
    -webkit-tap-highlight-color: transparent;
}

.nav_links_active_mobile{
    font-size: 18px;
    font-weight: 800;
}

.nav_links_inactive_mobile{
    font-size: 18px;
    font-weight: 400;
}

.nav_mobile_close_button{
    cursor: pointer;
    font-size: 2.75rem;
    font-weight: 200;
}

@media (max-width: 1000px) {
    .container {
        margin: 1rem 3rem;
        /*Spacing outside the container. Left and right*/
    }
}

@media (max-width: 750px){
    .container{
        margin: 0 1.5rem;
    }
    .mobile_hamburger_menu{
        display: flex;
    }

    .nav_link_group{
        display: none;
    }

}

@media (min-width: 650px) {

    .nav_link_group_mobile{
        display: none;
    }
}

@keyframes animateToDark {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(210deg);
    }

}

@keyframes animateToLight {
    0% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(-30deg);
    }
}