.blogs_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    height: 78vh;
}

.blog_div{
    border-radius: 7px;
    display: flex;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.left_div{
    background-color: rgb(164, 164, 240);
    width: 60%;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 1.5rem;
    color: white;
}

.left_div > h2 {
    font-size: 26px;
    margin: 0;
}

.left_div > p {
    text-align: left;
}

.read_button_div{
    height: 36px;
    width: 90px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
}

.read_button_div > p {
    font-weight: 700;
    color: black;
}



.right_div{
    position: relative;
    width: 40%;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.right_div > img {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    max-width: 100%;
    height: 100%;
}

.sub_info{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.sub_info > p {
    font-size: 14px;
}

@media (max-width: 750px) {
    .blogs_container{
        padding: 1rem;
        margin: 0;
    }

    .blog_div{
        display: flex;
        flex-direction: row;
    }
    .right_div{
        display: none;
    }
    .left_div{
        width: 100%;
        border-radius: 7px;
    }

    .left_div > h2 {
        font-size: 22px;
    }
}