.container{
    display: flex;
    flex-direction: column;
}

.user_testing_points_div{
    display: flex;
    max-width: 800px;
}

.details > p{
    margin: 0;
}

.details > h3{
    margin-bottom: 0.4rem;
}

.face_icon{
    padding: 1.2rem;
}


