.container{
    display: flex;
    padding-left: 2rem;
    padding-right: 4rem;
    padding-bottom: 2rem;
    margin-top: 6rem;
    height: auto;
    width: 100%;
}


.image_container{
    height: 100%;
    width: 520px;
    transition: width 2s, height 2s;
}

.about_section{
    padding-left: 2rem;
    height: 100%;
    width: auto;
    max-width: 500px; 
}

.about_section > p{
    font-weight: 300;
    font: 18px;
}

.meet_sash{
    font-size: 64px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, rgba(244, 168, 161, 1) 0%, rgba(143, 161, 233, 1) 12%, rgba(116, 179, 245, 1) 25%, rgba(92, 216, 243, 1) 41%, rgba(74, 173, 238, 1) 56%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.view_resume_button{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    width: 175px;
    height: 50px;
    cursor: pointer;
    border: 2px solid;
    border-image: linear-gradient(90deg, rgba(244, 168, 161, 1) 0%, rgba(143, 161, 233, 1) 12%, rgba(116, 179, 245, 1) 25%, rgba(92, 216, 243, 1) 41%, rgba(74, 173, 238, 1) 56%) 1;
    margin-top: 2rem;
}



.button_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
    width: 100%;
}

.material_symbols_sharp{
    font-family: 'Material Symbols Sharp';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

@media (max-width: 1000px) {
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        height: auto;
        padding-top: 2rem;
        margin-top: 0;
    }

    .image_container{
        height: 235px;
        width: 235px;
    }

    .about_section {
        display: flex;
        flex-direction: column;
        align-items: center;
        font: 18px;
        padding: 1rem 2rem;
        max-width: 100%;
    }

    .meet_sash{
        font-size: 42px;
    }

    .about_section > p {
        display: flex;
        text-align: left !important;
    }

    .button_container{
        justify-content: space-evenly;
    }

    .view_resume_button{
        width: 150px;
    }
}