.container{
    margin: var(--spacing-main);
}


.top_section{
    display: flex;
}

.project_highlights{
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 2rem;
}
.project_highlight{
    width: 300px;
    height: 100%;
}

.property_heading{
    font-size: 24px;
    font-weight: 600;
}
.property_value{
    font-weight: 300;
}

.project_indepth{
    padding: 0 calc(100vw * 0.1);
}

.detail_section{
    margin: 4rem 0;
}
.details_heading{
    margin: 0.5rem 0;
    font-weight: 600;
    font-size: 24px;
}

.process_image_container{
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.research_goal_ul{
   padding-left: 1rem;
}
.research_goal_list_item{
    padding-bottom: 1rem;
}
/*Heading Bar - Colored bar that goes over the heading*/
.heading_bar {
    height: 3px;
    width: 45px;
    border-radius: 20px;
    background: rgb(159, 199, 252);
    background: linear-gradient(90deg, rgba(159, 199, 252, 1) 0%, rgba(230, 177, 254, 1) 50%, rgba(211, 77, 116, 1) 100%);
}
@media (max-width: 900px){
    .top_section{
        flex-direction: column-reverse;
    }

    .project_highlights{
        flex-wrap: wrap;
    }

    .project_indepth {
        padding: 0;
    }
}

