.container{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 2rem 6rem 2rem;
    width: auto;
}

.top_section{
    display: flex;
    flex-direction: row;
    width: auto;
    max-width: 1100px;
    align-items: center;
    justify-content: space-between;
}

.details_top_left{
    display: flex;
    flex-direction: column;
    max-width: 35%;
    padding-right: 1rem;
}

.bottom_section{
    display: flex;
    flex-direction: row;
    width: auto;
    max-width: 1100px;
    margin-top: 4rem;
}

.bottom_left {
    width: 25%;
}

.bottom_right{
    width: 75%;
}

.project_title{
    font-size: 36px;
    font-weight: 500;
}

.project_description{
    font-size: 16px;
    font-weight: 300;
}

.project_tags{
    font-size: 13px;
    font-weight: 300;
    color: #004E93;
}

.property_heading{
    font-size: 24px;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

.property_value{
    font-size: 16px;
    font-weight: 300;
}

.go_back_button{
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 300;
    color: #004E93;
    
}

.left_arrow{
    color: #004E93;
    font-weight: 400;
    margin-right: 0.5rem;
}


@media (max-width: 750px) {

    .container{
    }

    .top_section{
        flex-direction: column-reverse;
        
    }

    .details_top_left{
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 100%;
        padding: 0;
    }

    .project_title{
        padding-top: 3rem;
        margin: 0;
    }

    .go_back_button{
        transform: none;
        position: absolute;
        top: 5.5rem;
        left: 2rem;
    }

    .bottom_section{
        flex-direction: column;
        margin-top: 2rem;
    }

    .bottom_left{
        display: flex;
        width: auto;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }


    .property_div{
        padding-right: 1.5rem;
    }
    .property_heading{
        font-size: 20px;
        margin: 0;
    }
    .property_value{
        font-size: 16px;
    }

    .bottom_right{
        display: flex;
        flex-direction: column;
        width: auto;
        padding-top: 3rem;
    }
}
