.container{
    margin: var(--spacing-main);
    margin-top: 4rem;
}


.top_section{
    display: flex;
}

.project_highlights{
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 2rem;
}
.project_highlight{
    width: 300px;
    height: 100%;
}

.property_heading{
    font-size: 24px;
    font-weight: 600;
}
.property_value{
    font-weight: 300;
}

.project_indepth{
    padding: 0 calc(100vw * 0.1);
}

.detail_section{
    margin: 4rem 0;
}
.detail_section > p {
    font-weight: 300;
}
.details_heading{
    margin: 0.5rem 0;
    font-weight: 600;
    font-size: 24px;
}

.process_image_container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.research_goal_ul{
   padding-left: 1.5rem;
}
.research_goal_list_item{
    padding-bottom: 1rem;
}

.user_group_image{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.criteria_ol > li::marker{
    font-weight: 700;
}
.criteria_list_title{
    font-size: 18px;
    font-weight: 700;
}

.insights_image_section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
}
.insights_images_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.briefs_li{
    padding-bottom: 1rem;
}
.briefs_ol > li::marker{
    font-weight: 700;
}

.personas_image_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}
.persona_image_div{
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    height: 250px;
}
.persona_container{
    margin: 1rem 0;
}

/*Heading Bar - Colored bar that goes over the heading*/
.heading_bar {
    height: 3px;
    width: 45px;
    border-radius: 20px;
    background: rgb(159, 199, 252);
    background: linear-gradient(90deg, rgba(159, 199, 252, 1) 0%, rgba(230, 177, 254, 1) 50%, rgba(211, 77, 116, 1) 100%);
}

/* Go Back Button*/
.go_back_button > p{
    padding: 0;
    margin-left: 0;

}
.go_back_button{
    display: flex;
    justify-content: space-between;
    width: 60px;
    align-items: center;
    cursor: pointer;
    color: var(--color-blue);
}
@media (max-width: 900px){
    .top_section{
        flex-direction: column-reverse;
    }

    .project_highlights{
        flex-wrap: wrap;
    }

    .project_indepth {
        padding: 0;
    }
}

