@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');



html{
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  
}

body,
body[data-theme="light"]{
  --color-text: black;
  --color-background: #fff;
  --color-gray: rgba(26, 26, 26, 0.5);
  --color-blue: #0D4E93;

  --color-theme-toggle-border: black;

}

body[data-theme="dark"]{
  --color-text: #fff;
  --color-background: black;
  --color-gray: rgba(232, 232, 232, 0.5);
  --color-blue: #1c89fe;

  --color-theme-toggle-border: #fff;
}


body{
  margin: 0 auto;
  width: auto;
  max-width: 1110px;
  background-color: var(--color-background);
  color: var(--color-text);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
