.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}


.check_out{
  display: flex;
  align-items: center;
}

.check_out_text{
  font-size: 24px;
  font-weight: 200;
}

.bouncy_arrow{
  margin-left: 10px;
  font-size: 24px;
  font-weight: 200;
  animation: bounce 1s infinite;
}

.work_heading{
  font-size: 26px;
  font-weight: 200;
  padding-top: 4.5rem;
}

.intro{
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  padding: 7rem 0.5rem 4.5rem 0.5rem;
}

.my_name{
  font-size: 96px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  background: rgb(244, 168, 161);
  background: linear-gradient(90deg, rgba(244, 168, 161, 1) 0%, rgba(143, 161, 233, 1) 12%, rgba(116, 179, 245, 1) 25%, rgba(92, 216, 243, 1) 41%, rgba(74, 173, 238, 1) 56%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hello{
  font-size: 18px;
  font-weight: 200;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1100px;
}

.card {
  padding: 0.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border-radius: 4px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 540px;
  cursor: pointer;
  margin-bottom: 4rem;
}

.project_title{
  font-size: 20px;
  font-weight: 400;
}

.project_description{
  font-size: 16px;
}

.project_tags{
  font-size: 12px;
}

.card:hover,
.card:focus,
.card:active {
  -webkit-box-shadow: 0px 0px 11px 2px rgba(0, 0, 0, 0.54);
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.54);
    transform: scale(1.01);
    transition: 200ms ease-in;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}


@keyframes bounce {


  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(6px);
  }

  100% {
    transform: translateY(0px);
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
