.linkedin_svg_style{
    stroke: var(--color-text);
    fill: none;
}


.theme_toggle_border{
    stroke: var(--color-theme-toggle-border);
    fill: var(--color-theme-toggle-border);
    overflow: visible;
}

.sash_logo{
    width: 50px;
    height: 50px;
}

@media (max-width: 650px) {
    .sash_logo{
        width: 36px;
        height: 36px;
    }
}