.linkedin_svg_style{
    stroke: var(--color-text);
    fill: none;
}


.theme_toggle_border{
    stroke: var(--color-theme-toggle-border);
    fill: var(--color-theme-toggle-border);
    overflow: visible;
}

.sash_logo{
    width: 50px;
    height: 50px;
}

.process_svg_style{
    fill: var(--color-text)
}

.user_group_svg_style{
    stroke: var(--color-text);
}

.homie_svg_log{
    fill: var(--homie-svg-color)
}

.problem_svg_image{
    stroke: var(--color-text);
}
.problem_svg_image_text{
    fill: var(--color-text);
}

@media (max-width: 650px) {
    .sash_logo{
        width: 36px;
        height: 36px;
    }
}